<launch>
  <arg name="reference_frame" default="touch_base"/>
  <arg name="units" default="mm"/>
  <arg name="publish_rate" default="1000"/>
  <arg name="prefix" default="touch"/>
  <arg name="device_name" default="Default Device"/>
  <arg name="launch_rviz" default="true"/>

  <node name="omni_state" pkg="omni_common" exec="omni_state" output="screen">
    <param name="device_name" value="$(var device_name)"/>
    <param name="prefix" value="$(var prefix)"/>
    <param name="publish_rate" value="$(var publish_rate)"/>
    <param name="reference_frame" value="$(var reference_frame)"/>
    <param name="units" value="$(var units)"/>
    <param name="robot_description_name" value="$(var prefix)_robot_description"/>
  </node>

  <param name="$(var prefix)_robot_description" command="cat $(find-pkg-share omni_description)/urdf/omni.urdf"/>

  <node name="$(var prefix)_robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher">
    <remap from="joint_states" to="$(var prefix)/joint_states"/>
    <remap from="robot_description" to="$(var prefix)_robot_description"/>
  </node>

  <group if="$(var launch_rviz)">
    <node name="rviz" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share omni_common)/launch/touch.rviz" />
  </group>
</launch>
