<launch>
  <!-- 引数の定義 -->
  <arg name="reference_frame" default="base"/>
  <arg name="units" default="mm"/>
  <arg name="publish_rate" default="1000"/>
  <arg name="prefix" default="touch"/>
  <arg name="device_name" default="Default Device"/>

  <!-- omni_state ノードの起動 -->
  <node
    pkg="omni_common"
    exec="omni_state"
    name="omni_state"
    output="screen">

    <param name="device_name" value="$(var device_name)"/>
    <param name="omni_name" value="$(var prefix)"/>
    <param name="publish_rate" value="$(var publish_rate)"/>
    <param name="reference_frame" value="$(var reference_frame)"/>
    <param name="units" value="$(var units)"/>
  </node>
</launch>
